.results {
  padding: 8rem 1.5rem 2rem 1.5rem;
  .hero-image {
    margin: 2rem 0;
    width: 100%;
    height: 20rem;
    min-height: 20rem;
    //background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    .transparent-black {
      width: 100%;
      height: 100%;
      background: rgb(17, 17, 17, 0.7);
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        color: white;
        font-family: FormulaBold;
        font-size: 3.5rem;
        margin: 0;
        border: 6px solid white;
        padding: 12px;
      }
    }
  }
}
