@import "../../Variables";

.main-page {
  .main-page-padding {
    padding: 4rem 12rem;
  }

  .news-section {
    .articles {
      margin-top: 1rem;
      justify-content: space-between;
      display: flex;
      flex-wrap: wrap;
      gap: 2px;

      .article {
        .imgWrapper {
          overflow: hidden;

          img {
            max-width: 100%;
            max-height: 100%;
            min-width: 100%;
          }
          .ant-image {
            width: 100%;
          }
        }
        margin: 0.2rem;
      }
    }
  }

  .main-body-dark {
    background-color: $darkColor;
    color: $lightColor;
    width: 100%;
    justify-content: center;
  }

  .mainImage {
    background-image: linear-gradient(
        0deg,
        rgba(17, 17, 17, 1) 0%,
        rgba(17, 17, 17, 1) 20%,
        rgba(0, 48, 255, 0) 70%
      ),
      url("https://www.formula1.com/content/dam/fom-website/sutton/2020/Austria/Saturday/1254270138.jpg");

    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .mainImageText {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 4rem;
      padding: 1rem;

      .mainImageTitle {
        font-family: FormulaBlack;
        margin-bottom: 0;
        color: $lightColor;
        /* border: 2px solid rgb(255,0,0,0.5); */
        background: rgb(255, 0, 0, 0.5);
        padding: 1.5rem 4rem;
        border-radius: 0.5rem;
      }

      .mainImageSubTitle {
        font-family: FormulaRegular;
        margin-bottom: 2rem;
        color: $lightColor;
      }
    }
  }

  .mid-section-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  @media screen and (max-width: $medium) {
    .mainImageText {
      padding: 2rem;

      .mainImageTitle {
        font-size: 3rem;
      }

      .mainImageSubTitle {
        text-align: center;
      }
    }

    .articles {
      .article {
        width: 100%;
      }
    }

    .main-body-dark {
      font-size: 0.5rem;
    }
  }

  @media screen and (max-width: $large) {
    .title {
      font-size: 3.3em;
    }
    .subtitle {
      font-size: 1.5em;
    }
    .articles {
      .article {
        width: 100%;
      }
    }
    .main-page-padding {
      padding: 3rem;
    }
  }

  @media screen and (min-width: $medium) {
    .mainImageText {
      .mainImageTitle {
        font-size: 4rem;
      }

      .mainImageSubTitle {
        text-align: left;
      }
    }

    .articles {
      .article {
        width: 32%;
      }
    }

    .main-body-dark {
      height: 100vh;
    }
  }
}
